body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: orange;
}

button{
background-color: black;
color: white;
}

h1{
    margin-top: 30px;
}

input, select, button{
    margin: 10px;
}

#output {
    font-size: 24px;
    color: brown;
    font-weight: bold;
    margin-top: 20px;
}