body {
  text-align: center;
}

#sharing-buttons {
  margin-top: 20px;
}

.sharing-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;
}
.github {
  background-color: #171515;
}
.sharing-button i {
  margin-left: 10px;
  font-size: 24px;
}

.sharing-button:hover {
  opacity: 0.8;
}
