.container {
  text-align: center;
}

.global {
  display: center;
  width: 450px; 
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-image:linear-gradient(to bottom left, pink,lightskyblue 90%);
 border: 3px solid  white;
 margin: 100px auto;
}

h1 {
  color: whitesmoke;
  font-size: 3em;
  margin-bottom: 10px;
}

#display {
  font-size: 5em;
  margin-bottom: 0.5em;
}

button {
  font-size: 1.5em;
  padding: 0.5em 1em;
  margin: 0 0.5em;
}

body {
  background-color: aquamarine;
}